@model Domain.Game

@{
    ViewBag.Title = "GameView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.GameType.Name</h2>

<div class="game" data-game-id="@Model.Id">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDartsThrown)
        </dt>

        <dd class="number_darts">
            @Html.DisplayFor(model => model.NumberOfDartsThrown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>

        <dd class="finished">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>
    </dl>
</div>

<div class="score">
    @Html.DisplayFor(model => model.Score)
</div>

@if (!Model.IsFinished)
{
    <div class="score_container">
        <label for="score_input">Score</label>
        <input id="score_input" type="text" name="score" />
        <span class="btn btn-default next">Next</span>
    </div>
}
